
div.notification-container {
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 300px;

    display: flex;
    flex-direction: column;


    div.notification {
        flex: 0 0 auto;
        border: solid 1px black;
        border-radius: 6px;
        padding: 12px 16px;
        margin-bottom: 8px;
        margin-top: 16px;
        width: 100%;

        box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.1);

        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: -16px;
            left: 6px;
            font-size: 12px;
            font-weight: bold;
            color: black;
            text-shadow: 3px 3px 2px rgba(0,0,0,0.1);
        }


        &.ERROR {
            background-color: red;
            color: white;

            &:before {
                content: "ERROR!";
                color: red;    
            }
        }

        &.WARN {
            background-color: orange;
            color: white;

            &:before {
                content: "ERROR!";
                color: orange;    
            }
        }

        &.DEBUG {
            background-color: lightblue;
            color: black;
            
            &:before {
                content: "DEBUG!";
                position: absolute;
                top: -16px;
                left: 6px;
                font-size: 12px;
                font-weight: bold;
                color: black;
                text-shadow: 3px 3px 2px rgba(0,0,0,0.1);
            }

        }

        &.INFO {
            background-color: lightgray;
            color: black;

            &:before {
                content: "INFO!";
                color: black;    
            }
        }

        &.SUCCESS {
            background-color: green;
            color: white;

            &:before {
                content: "SUCCESS";
                color: green;    
            }
        }

    }
}