
nav.admin-menu {
    position: fixed;
    bottom: 10px;
    height: 64px;

    left: 50%;
    margin-left: -500px;
    width: 1000px;

    background-color: rgba(139, 0, 139, 0.5);
    color: white;
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.3);

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    z-index:1000;


    @media screen and (max-width: 1024px) {
        width: 100%;
        left: 0;
        margin-left: 0;

    }


    div.admin-menu-item {
        flex: 1 1 auto;
        max-width: 200px;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;

        border: solid 2px rgba(0,0,0,0.3);
        border-radius: 6px;
        padding: 6px;

        background-color: rgba(255,255,255,0.5);
        color: black;
        font-weight: 700;
        box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    }

}