@import "../../styles/variables";

div.numpad-container {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: $darkShadowColor;

    display: flex;
    justify-content: center;
    align-items: center;

    div.numpad {

        flex: 0 1 auto;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        height: 90vh;
        position: relative;
    
        max-width: 1000px;
        padding: $mainGutterWidth;

        background-color: $primaryBackgroundColor;
        box-shadow: 0 0 20px 2px $darkShadowColor;

        border-radius: $mainGutterWidth;

        
        button.close {
            position: absolute;
            top: -32px;
            right: -32px;
            width: 64px;
            height: 64px;

            border-radius: 50%;
            background-color: $secondaryBackgroundColor;
            border: solid 2px $darkShadowColor;
            box-shadow: 0 0 20px 2px $darkShadowColor;

            color: $primaryColor;
            font-size: 32px;
            font-weight: bold;

            cursor: pointer;
            outline: none;
            user-select: none;

            &:hover {
                background-color: $hoverBackgroundColor;
                color: white;
            }

            &:active {
                box-shadow: 0 0 10px 1px $darkShadowColor;
                
            }
        }

        
        div.screen {
            text-align: center;
            width: 100%;
    
            border: solid 2px $darkShadowColor;
            border-radius: 32px;
            padding: $mainGutterWidth * 2;
            margin-bottom: $mainGutterWidth * 2;
    
            box-shadow: inset 0 0 20px 2px $lightShadowColor;
            min-height: 128px;
    
            font-family: monospace;
            font-size: 64px;
            letter-spacing: $mainGutterWidth;
            color: black;
            font-weight: bold;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            &.error {
                font-size: 32px;
                font-family: monospace;
                color: red;
                text-transform: uppercase;
                letter-spacing: $mainGutterWidth / 4;
            }

            &.help {
                font-size: 32px;
                font-family: monospace;
                color: gray;
                text-transform: uppercase;
                letter-spacing: $mainGutterWidth / 4;
            }
    
            
        }
    
    
        div.numbers {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
    
            width: 100%;
    
            justify-content: space-around;
            align-items: center;
    
            button {
                flex: 0 0 auto;
                width: 30%;
    
                height: 15vh;
    
                margin-bottom: $mainGutterWidth * 2;
    
                font-size: 3em;
                font-weight: bold;
    
                &:disabled {
                    opacity: 0.4;
                }

                &.go {
                    color: $okTextColor;
                }

                &.clear {
                    font-size: 2em;                }
            }
        }
        
    }

}

