
div.connection-indicator {
    position: fixed;

    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;

    border-radius: 50%;

    box-shadow: inset -3px -3px 16px 8px rgba(0,0,0,0.4);


    transition: opacity 0.1s linear;

    &.CONNECTING {
        background-color: yellow;
        opacity: 0.7;
    }

    &.OPEN {
        background-color: green;
        opacity: 0.1;
    }

    &.CLOSING {
        background-color: orange;
        opacity: 0.7;
        
    }

    &.CLOSED {
        background-color: red;
        opacity: 1;
        color: white;

        &:after {
            content: "!";
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            color: rgba(255,255,255,0.9);
            font-size: 32px;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }
    }

}