
@import '../../styles/variables';

div.simple-list {

    display:flex;
    flex-direction: column;

    margin: $mainGutterWidth 0;

    & > div.simple-list-row {
        display:flex;
        flex-direction: row;
        margin-bottom: 2px;

        &:nth-child(odd) {
            background-color: rgba(128,128,128,0.1);
        }

        &.header {
            background-color: $secondaryBackgroundColor;
            
            div {
                color: $negativeTextColor;
            }

        }

        &.clickable {
            cursor: pointer;

            &:hover {
                background-color: rgba(128,128,192,0.1);
            }
        }

        &.selected {
            background-color: rgba(0,128,0,0.1);
        }

        & > div.simple-list-cell {
            padding: $mainGutterWidth / 2;
            flex: 0 0 auto;

            &.header {
                font-weight: bold;
            }

            &.w100px {
                width: 100px;
            }

            &.w200px {
                width: 200px;
            }

            &.w300px {
                width: 300px;
            }

            &.half {
                flex: 0 2 auto;
                width: 50%;
            }

            &.quarter {
                flex: 0 1 auto;
                width: 25%;
            }

            &.auto {
                flex: 1 1 auto;
                width: auto;
            }

            &.center {
                text-align: center;
            }
        }
    }
}