
@import '../../styles/variables';

header.main-header {
    padding: 12px;
    background-color: $secondaryBackgroundColor;
    box-shadow: 0 0 30px 3px $darkShadowColor;

    display: flex;
    flex-direction: row;

    margin-bottom: 10px;

    div.menu {
        
    }

    div.user {
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-end;

        h1 {
            font-size: 1.2rem;
        }
    }
}