
div.info-box {
    position: fixed;
    bottom: 10px;
    left: 10px;
    


    padding: 9px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
    background-color: white;

    font-size: 10px;
    b {
        font-size: 11px;
    }
}