@import '../../styles/variables';

div.question-item {

    margin: $mainGutterWidth;

    min-width: 200px;

    h2 {
        min-height: 64px;
        border-bottom: solid 1px $primaryColor;
        text-align: center;
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.chart {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;

        & > div {
            flex: 1;
            margin: $mainGutterWidth / 2;
        }
    }

    div.answer-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: $mainGutterWidth * 2;

        div.answer-item {
            display: flex;
            flex-direction: row;

            flex-wrap: nowrap;
            margin-bottom: $mainGutterWidth / 2;

            span.answer-text {
                flex: 0 0 auto;
                width: 50%;
                font-size: 1rem;
                font-weight: bold;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            
            span.answer-value {
                flex: 1 1 auto;
                width: 25%;
                font-size: 1.3rem;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            span.answer-perc {
                flex: 1 1 auto;
                width: 25%;
                font-size: 1rem;
                font-weight: normal;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.total {
                margin-top: $mainGutterWidth / 2;
                border-top: double 5px $primaryColor;

                .answer-text {
                    text-transform: uppercase;
                }
            }

        }

    }
}

div.question-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > .question-item {
        flex: 1 0 auto;

        width: 200px;
        max-width: 300px;

    }
}