
.graph-container {
    border: solid 1px black;
}

.chart-test {
    display: flex;
    flex-direction: row;

    height: 80vh;

    .question {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        

        & > p {
            flex: 1 1 auto;
            background-color: gray;
            color: white;
            height: 100%;
            
            min-width: 50px;
            display: flex;
        
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 3px;
            text-align: center;
        }
        .answers {
            flex: 3 3 auto;
            display: flex;
            flex-direction: column;

            height: 100%;
            
           
            .answer {
                flex: 1 1 auto;
                
                display:flex;
                flex-direction: row;

                justify-content: center;
                align-items: center;
                height: 100%;

                border: solid 1px red;

                & > p {
                    flex: 1 1 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    margin: 0;
                    padding: 3px;

                    min-width: 50px;
                }

                & > .question {
                    flex: 3 3 auto;
                    // height: 100%;
                }
    

            
            }
        }
        

    }
}