
div.admin-view {
    
    textarea.snap-shot-area {
        width: 100%;
        height: 64px;
        font-size: 8px;
        font-family: monospace;
    }

    div.small-action-bar {
        
    }


    h3 {
        margin: 6px 0;
    }
}