@import "./variables";

div.default-page {
    padding: $mainGutterWidth $mainGutterWidth*2;

    h1 {
        font-size: 1.8em;
        color: $primaryColor;
        font-weight: bold;
        text-transform: uppercase;

        &.page-title {
            font-size: 2.2em;
            letter-spacing: 1px;
            margin-bottom: $mainGutterWidth * 2;

            &.with-pre-title {
                margin-top: 0;
            }
        }
    }

    h2 {
        font-size: 1.4em;
        color: $primaryColor;
        font-weight: normal;
        text-transform: uppercase;

        &.pre-title {
            font-size: 1.2em;
            margin: $mainGutterWidth 0 0 0;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    h3 {
        font-size: 1.2em;
        color: $primaryColor;
        font-weight: bold;
    }

    p {
        font-size: 1em;
        margin: $mainGutterWidth 0;

    }

    .cols {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        width: 100%;

        & > div {
            margin: $mainGutterWidth ($mainGutterWidth/2);

            &.full {
                flex: 0 8 auto;
                width: 100%;
            }

            &.half {
                flex: 0 4 auto;
                width: 50%;
            }

            &.quarter {
                flex: 0 2 auto;
                width: 25%;

            }

            &.eight {
                flex: 0 1 auto;
                width: 12.5%;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    section {
        margin: $mainGutterWidth*3 0;

    }

    div.action-bar {
        display: flex;
        flex-direction: row;
        box-shadow: inset  0 0 20px 2px $lightShadowColor;
        padding: $mainGutterWidth;

        align-items: center;
        justify-content: flex-end;

        margin: $mainGutterWidth*4 0;

        button {
            padding: ($mainGutterWidth/2) $mainGutterWidth;
            margin: $mainGutterWidth /2;

            &.ok {
                font-weight: bold;
                color: $okTextColor;
                text-transform: uppercase;
            }

            &.red {
                color: red;
            }

            &:disabled {
                opacity: 0.5;
            }
        }

        .back-button-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        
    }

    div.part {
        margin: $mainGutterWidth*4 0;
    }

    
}