@import "./variables";

div.keypad {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    max-width: 800px;
    margin: 0 auto;
    
    div.screen {
        text-align: center;
        width: 90%;

        border: solid 1px black;
        border-radius: 32px;
        padding: $mainGutterWidth * 2;
        margin-bottom: $mainGutterWidth * 4;

        box-shadow: inset 0 0 20px 2px $lightShadowColor;
        min-height: 128px;

        font-family: monospace;
        font-size: 64px;
        letter-spacing: $mainGutterWidth;
        color: black;
        font-weight: bold;

        display: flex;
        justify-content: center;
        align-items: center;

        span.login-fail {
            font-size: 32px;
            font-family: monospace;
            color: red;
            text-transform: uppercase;
            letter-spacing: $mainGutterWidth / 4;
        }

        
    }


    div.numbers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 90%;

        justify-content: space-around;
        align-items: center;

        button {
            flex: 0 0 auto;
            width: 30%;

            height: 15vh;

            margin-bottom: $mainGutterWidth * 2;

            font-size: 48px;
            font-weight: bold;

            &:disabled {
                opacity: 0.4;
            }
        }
    }
    
}