@import './variables';

div.question-page {

    padding: $mainGutterWidth $mainGutterWidth*2;

    h1.question {
        font-size: 2em;
        color: $primaryColor;

        text-align: center;
        margin: $mainGutterWidth*2 0;
        padding: 0 $mainGutterWidth;
    }

    h2.questionary {
        font-size: 1.2em;
        color: $primaryTextColor;
        text-transform: uppercase;
        text-align: center;
    }


    div.choises {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        div.answer-item {
            
            flex: 1 0 auto;    
            width: 30%;
            margin: $mainGutterWidth;
            display: flex;
            padding: $mainGutterWidth*2;

            border: ridge 3px $darkShadowColor;
            border-radius: $mainGutterWidth;

            font-size: 1.6em;

            align-items: center;
            justify-content: center;
            box-shadow: 0 0 10px 1px $darkShadowColor;
            background-color: $secondaryBackgroundColor;

            &.selected {
                box-shadow: inset 0 0 10px 1px $darkShadowColor;
                background-color: $okBackgroundColor;
                color: white;
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 10px 2px $lightShadowColor;
                background-color: $hoverBackgroundColor;
                color: $primaryTextColor;
            }

        }            
    }

}