@import './variables';

div.results-view {
 
    
    div.answers {
        margin: $mainGutterWidth 0;

        div.my-answer {
            display: flex;
            flex-direction: row;
            width: 100%;

            justify-content: center;
            align-items: center;

            padding: $mainGutterWidth;

            .question {
                flex: 0 0 auto;
                width: 60%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-size: 1.2em;
                
            }

            .answer {
                flex: 0 0 auto;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
            }

            &:nth-child(odd) {
                background-color: rgba(128, 128, 128, 0.1);
            }

        }
    }

}