
// Measurements

$mainGutterWidth: 12px;

// Colors

$primaryTextColor: #111111;
$secondaryTextColor: #AA6644;
$okTextColor: #44AA66;
$negativeTextColor: #E0E8FF;

$primaryColor: #4466AA;
$secondaryColor: #AA6644;

$primaryBackgroundColor: #FFFFFF;
$secondaryBackgroundColor: #AABBFF;
$okBackgroundColor: #44AA66;
$hoverBackgroundColor: #FFCCAA;

$lightShadowColor: rgba(0,0,0,0.1);
$darkShadowColor: rgba(0,0,0,0.3);

// Font

$mainFont: "Sans", Arial;
$fontSize: 16px;
