@import 'styles/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mainFont;
    color: $primaryTextColor;
    font-size: $fontSize;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    

    div.main-container {
        // margin-left: 200px;

        min-height: 100vh;
        
        background: linear-gradient(145deg, white 40%, #E0E0E0 100%);

        &.kiosk-mode  {
            margin-left: 0;
            background: linear-gradient(145deg, white 40%, #E0E0FF 100%);
            
        }

        &.stats-mode  {
            margin-left: 0;
            background: linear-gradient(145deg, white 40%, #E0FFE0 100%);
        }
    }
}