@import "../../styles/variables";

nav.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    bottom: 0;
    background-color: white;

    display: flex;
    flex-direction: column;

    background-color: $secondaryBackgroundColor;
    box-shadow: 0 0 30px 3px $darkShadowColor;


    .menu-logo {
        flex: 0 0 auto;
        height: 128px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 3em;
        font-weight: 700;
        text-shadow: 5px 5px 10px $lightShadowColor;
        color: $primaryColor;
    }

    .menu-item {
        flex: 0 0 auto;
        height: 64px;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        border-top: solid 1px $lightShadowColor;
        border-bottom: solid 1px $darkShadowColor;

        box-shadow: inset 0 0 20px 4px $lightShadowColor;

        transition: all 0.1s linear;

        &:hover {
            box-shadow: inset 0 0 10px 2px $lightShadowColor;
        }
    }
}

nav.admin-only-menu {
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 32px;
    height: auto;
    opacity: 0.2;


    .menu-item {
        flex: 0 0 auto;
        height: 32px;
        display: block;
        font-size: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &.logged-in {
        opacity: 0.7;
        width: 64px;
        right: 4px;
        
        padding: 2px;

        .menu-item {
            height: 64px;
            font-size: 8px;
            font-weight: bold;
            margin-bottom: 4px;
            background-color: $secondaryBackgroundColor;
            border-radius: 24px;
            text-overflow: ellipsis;

        }
    }
}