
@import '../../styles/variables';

div.label-input {
    display: block;
    
    margin-bottom: $mainGutterWidth;

    label {
        font-size: 0.8em;
        text-transform: uppercase;
        display: block;
        font-weight: 700;
        padding-left: $mainGutterWidth / 3;
    }

    input, select {
        margin: ($mainGutterWidth / 3) 0 $mainGutterWidth 0;
        padding: $mainGutterWidth / 3;
        background-color: white;
        border: solid 1px rgba(0,0,0,0.5);
        border-radius: $mainGutterWidth / 3;
        box-shadow: inset 0 0 10px 1px $lightShadowColor;

        &:focus {
            border-color: rgba(0,0,255, 0.5);
            outline: none;
        }
    }

    div.buttons {
        display: flex;
        flex-direction: row;
        margin-top: ($mainGutterWidth / 2);

        button {
            flex: 1 1;

            margin: 0 ($mainGutterWidth / 2);
            padding: ($mainGutterWidth / 2);

            background: linear-gradient(white, #AAAAAA);
            border-radius: $mainGutterWidth;
            border: solid 2px rgba(0,0,0,0.3);
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
            cursor: pointer;

            font-weight: bold;
            
            outline: none;

            &:hover {
                background: linear-gradient(white, $hoverBackgroundColor);
            }

            &.selected {
                background: linear-gradient(white, $okBackgroundColor);

            }
        }
    }
}