@import "../../styles/variables";

div.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: $darkShadowColor;

    display: flex;
    justify-content: center;
    align-items: center;

    div.modal {
        flex:  1 0 auto;
        max-width: 400px;
        height: 250px;

        
        background-color: white;
        color: black;

        border-radius: $mainGutterWidth / 2;

        box-shadow: 0 0 20px 4px $darkShadowColor;

        display: flex;
        flex-direction: column;

        header {
            flex: 0 0 auto;
            height: 64px;
            padding: $mainGutterWidth ($mainGutterWidth * 1.5);
        }

        div.modal-content {
            flex: 1;
            padding: $mainGutterWidth * 1.5;
            box-shadow: inset  0 0 10px 2px $lightShadowColor;
        }

        footer {
            flex: 0 0 auto;
            height: 64px;
            text-align: right;
            padding: $mainGutterWidth ($mainGutterWidth * 1.5);
            
            button {
                padding: $mainGutterWidth / 2;
                margin: $mainGutterWidth / 2;
                cursor: pointer;

                &.confirm {
                    color: green;
                    font-weight: bold;
                }

                &.cancel {
                    color: #444444;
                    font-weight: normal;
                    background: transparent;
                    border: none;
                }
            }
        }

        
    }
}